.color {
  background-color: #8F001B;
  color: #F9B6C9;
  border-color: #F9B6C9;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: #F9B6C9;
}

.reverseColor {
  background-color: #F9B6C9;
  color: #8F001B;
  border-color: #8F001B;
}

.sq-radio .checkmark:after {
  background-color: #8F001B;
}

.button-col {
  text-align: center;
  cursor: pointer;
  margin-top: 84px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .button-col {
    margin-top: 0px;
  }
}

.rsvp {
  border-radius: 10px;
  padding: 1vh;
  width: 100%;
}

.footer img {
  width: 40vh;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer img {
    width: 40vw;
  }
}