.color {
  background-color: #00591A;
  color: #8CDBA7;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: #8CDBA7;
}

.reverseColor {
  background-color: #8CDBA7;
  color: #00591A;
}

.sq-radio .checkmark:after {
  background-color: #00591A;
}

.footer img {
  margin-top: 10vh;
  width: 70vh;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer img {
    width: 60vw;
  }
}