/* Fonts
   ===== */

@font-face {
    font-family: ABCMaxi;
    src: url("../fonts/ABC Maxi/ABC Maxi Round-Mono Variable/ABCMaxiRoundMonoVariable-Trial.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ABCGravity;
    src: url("../fonts/ABC Gravity/ABCGravity-Normal-Trial.otf");
    font-weight: bold;
    font-style: normal;
}

.gravity-font {
  font-family: "ABCGravity", sans-serif;
}

.maxi-font {
  font-family: "ABCMaxi", sans-serif;
}

/* Responsive UI
   ============= */

.noSelect {
    -webkit-tap-highlight-color: thin dotted;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

button {
  all: unset;
}

 * {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

/* General CSS
   =========== */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html {
    font-size: 20px;
  }
}

.header {
  font-size: 19vh;
  margin: 3vh 0vh;
  padding: 15px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header {
    font-size: 15vw;
    margin-top: 1vh 0vh;
  }
}

.scroll-tooltip {
  text-align: center;
  margin-bottom: 8vh;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .scroll-tooltip {
    display: none;
  }
}

.event {
  margin: 5vh 8vw;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
  scroll-margin: 5vh;
}
.event::after {
  content: "";
  clear: both;
  display: block;
}

.event-title {
  font-size: 72px;
  line-height: 90%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .event-title {
    font-size: 48px;
    margin-bottom: 2vw;
  }
}

.right-col {
  text-align: right;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .right-col {
    text-align: left;
    margin-top: -2vw;
    padding-top: 0;
    font-weight: 500;
  }
}

.button-col {
  text-align: right;
  margin-top: 10vh;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .button-col {
    margin-top: 0;
    font-size: 24px;
    text-align: left;
  }
}

.rsvp {
  text-align: center;
  font-weight: 700;
}

.rsvp-button {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  font-size: 48px;
  margin: 5vh;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .rsvp-button {
    font-size: 7vw;
    margin: 5vw;
  }
}

.learn-more {
  text-decoration: underline;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2vh;
}

.footer {
  text-align: center;
}

#form-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #8F001B;
  padding: 2vh;
  border-style: solid;
  z-index = 101;
  display: none;
  border-radius: 10px;
  text-align: center;
}
#form-modal button {
  width: 80%;
}

#modal-overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
  z-index = 100;
  background-color: #000000;
  display: none;
}

/* FAQ accordion
   ============= */

#faqs {
  margin-left: 3vw;
  margin-right: 3vw ;
  font-size: 36px;
  font-weight: 500;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 5vh;
}
#faqs img {
  height: 48px;
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #faqs {
    font-size: 5vw;
    margin-top: 6vw;
  }
  #faqs img {
    height: 6vw;
    padding-right: 3vw;
    margin-top: 1px;
  }
}
.accordion {
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .accordion {
    margin-bottom: 5vw;
  }
}
.accordion button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  display: inline-flex;
}
.accordion button:hover {
}
.accordion button.active {
}
.accordion .panel {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0; /* Initially collapsed */
  padding: 0 10px;
}
.accordion .panel p {
  margin-top: 0;
  margin-left: 70px;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .accordion .panel p {
    margin-left: 7vw;
  }
  .accordion button {
    margin-bottom: 2vw;
  }
}

/* Bottom Sheet
   ============ */

.bottom-sheet {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  border-radius: 10px 10px 0 0;
  border-style: solid;
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: 1000;
}

.bottom-sheet-content {
  padding: 3vh 3vw;
  margin: 0 15px 15px 15px;
}

.close-btn {
  float: right;
  font-size: 28px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .close-btn {
    font-size: 6vw;
  }
}

.bottom-sheet.open {
  height: auto;
}

.bottom-sheet input {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  padding: 0 20px;
  border: 0;
  font-family: "ABCGravity", sans-serif;
}

.bottom-sheet form {
  margin-top: 2vh;
}

.bottom-sheet button {
  float: right;
  border-radius: 5px;
  padding: 2px 3vw;
  margin-top: 2vh;
  margin-bottom: 3vh;
  width: unset;
}

.bottom-sheet #output {
  float: left;
}

.rsvp-name {
  padding: 15px 0;
}

.rsvp-answers {
  font-size: 72px;
  line-height: 90%;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .rsvp-answers {
    font-size: 48px;
  }
}
.rsvp-answers label {
  font-family: "ABCGravity", sans-serif;
}

.rsvp-and {
  margin-bottom: 16px;
}

.radio-buttons {
  display: flex;
  float: right;
}
.radio-buttons label {
  padding-top: 50px;
  margin-left: 140px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .radio-buttons {
    float: unset;
  }
  .radio-buttons label {
    padding-top: 17px;
    margin-left: 48px;
    margin-right: 40px;
  }
}

/* square radio buttons */

.sq-radio {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.sq-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 40%;
  left: -84px;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .checkmark {
    top: 24%;
    left: -60px;
    width: 44px;
    height: 44px;
  }
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.sq-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.sq-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 52px;
  height: 52px;
  border-radius: 2px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sq-radio .checkmark:after {
    width: 36px;
    height: 36px;
  }
}