.color {
  background-color: #FF8D00;
  color: #8F001B;
  border-color: #8F001B;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-text-fill-color: #8F001B;
}

.reverseColor {
  background-color: #8F001B;
  color: #FF8D00;
  border-color: #FF8D00;
}

.sq-radio .checkmark:after {
  background-color: #FF8D00;
}

.footer img {
  margin-top: 10vh;
  width: 55vh;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer img {
    width: 55vw;
  }
}